/* General Styles */
body {
  font-family: 'Arial', sans-serif;
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: auto;
}

/* Header Styles */
.topbar {
  background-color: #343a40;
  padding: 10px;
  color: #fff;
}

/* Search Input Styles */
.form-control {
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.btn-dark {
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Table Styles */
.table {
  border-radius: 10px;
  overflow: hidden;
}

.table th,
.table td {
  text-align: center;
}

.table thead {
  background-color: #f8f9fa;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

/* Modal Styles */
.modal-content {
  border-radius: 15px;
}

.modal-header {
  background-color: #343a40;
  color: #fff;
  border-bottom: none;
}

.modal-title {
  font-size: 1.25rem;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: none;
}

/* Spinner Styles */
.spinner-border {
  width: 3rem;
  height: 3rem;
}

/* Custom Loader */
.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-opacity-50 {
  opacity: 0.5;
}

/* Margin and Padding Adjustments */
.mt-5 {
  margin-top: 3rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}
